[dev-packages]
coveralls = "*"
pytest = "*"
pytest-cov = "*"
pytest-asyncio = "*"

[packages]
aioes = "*"
aiohttp = "*"
click = "*"
cryptography = "*"
rdflib = "*"
rdflib-jsonld = "*"
stompest = "*"
PyJWT = "*"
